{% load i18n %}
{% autoescape off %}
{% blocktrans %}
Fake Hunterze, Hunterko

Nasi eksperci zauważyli, że w treści, źródłach lub werdykcie, które wprowadziłeś/łaś do systemu są błędy. Prosimy o ponowne dokładne sprawdzenie wszystkich elementów i wprowadzenie niezbędnych modyfikacji w celu poprawienia jakości twojego raportu fact checkingowego:

{{ opinion_url }}

Prosimy o dokładność i rzetelność w przygotowywaniu werdyktów i raportów weryfikujących fakty.

Administracja systemu #FakeHunter

{% endblocktrans %}
{% endautoescape %}
